.home-bottom-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image-container {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  background-color: aliceblue;
  border-radius: 50%;
  border: 5px solid black;
  overflow: hidden;
  transform: translate(0, -50%) rotate(45deg);
  transition: all ease 2s;
}

span {
  width: 49%;
  height: 49%;
  display: inline-block;
  position: absolute;
  color: black;
  background-size: cover !important;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

// .image1 {
//   // background-color: red;
//   left: 50%;
//   top: 50;
// }
.image1 {
  top: 0;
  left: 0;
  div {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: center;
    text-align: center;
    display: flex;
    transform: rotate(135deg) scale(1.5);
    align-items: center;
  }
}

.image2 {
  right: 0;
  div {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    transform: rotate(45deg) scale(1.5);
  }
}

.image3 {
  bottom: 0;
  left: 0;
  div {
    width: 100%;
    height: 100%;
    transform: scale(1.5) rotate(225deg);
    position: absolute;
    text-align: center;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
  }
}

.image4 {
  right: 0;
  bottom: 0;
  div {
    width: 100%;
    height: 100%;
    transform: scale(1.5) rotate(135deg);
    position: absolute;
    text-align: center;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
  }
}

// .mainbox {
//   position: relative;
//   width: 500px;
//   height: 500px;
// }
// .box {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   border-radius: 50%;
//   border: 10px solid #fff;
//   overflow: hidden;
//   transition: all ease 5s;
// }

// span {
//   width: 50%;
//   height: 50%;
//   display: inline-block;
//   position: absolute;
// }

// .span1 {
//   clip-path: polygon(0 92%, 100% 50%, 0 8%);
//   background-color: #ffeb3b;
//   top: 120px;
//   left: 0;
// }

// .span2 {
//   clip-path: polygon(100% 92%, 0 50%, 100% 8%);
//   background-color: #e91e63;
//   top: 120px;
//   right: 0;
// }

// .span3 {
//   clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
//   background-color: #4caf50;
//   bottom: 0;
//   left: 120px;
// }

// .span4 {
//   clip-path: polygon(50% 100%, 92% 0, 8% 0);
//   background-color: #3f51b5;
//   top: 0;
//   left: 120px;
// }

// .box2 {
//   width: 100%;
//   height: 100%;
//   transform: rotate(-135deg);
// }

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
}
